<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Ende</title>
    <link rel="stylesheet" type="text/css" href="/styles/globals.css">
</head>
<body>
    <h1>You Are Dumb!!!</h1>
    <p>Ihre Punktzahl ist: <%= score %></p>
    <button onclick="location.href='/startQuiz'">Quiz neu starten</button>
</body>
</html>
