<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizspiel</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/globals.css">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">

<!-- Mach das zu einer box die in der mitte des bildschirms  flexbox max witdh 800-->
<div class="center">
    <% if (!quizStarted) { %>
        <h1>Willkommen beim Quizspiel!</h1>
        <a href="/startQuiz">Quiz starten</a>
    <% } else { %>
        <h2><%= question.titel %></h2>

        <form action="/submitAnswer" method="post">
            <% question.antworten.forEach((answer, index) => { %>

                <!-- Diese Div zu einem grid machen kleiner tipp grid col col-2 -->
                <div style="display: grid; grid-template-columns: auto 1fr; gap: 10px; align-items: center;">
                    <input type="radio" name="answer" value="<%= index %>" required>
                    <label><%= answer.text %></label>
                </div>

            <% }); %>
            <input type="submit" value="Antwort einreichen">
        </form>

        <p>Aktuelle Punktzahl: <%= score %></p>
    <% } %>
</div>

</body>
</html>
