/* Allgemeines Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
}

/* Antwortfelder Styling */
.answer-field {
    margin: 15px;
    padding: 10px;
    font-size: 1.2em;
}

.answer-field:nth-child(1) {
    background-color: #E57373; /* Farbton 1 */
}

.answer-field:nth-child(2) {
    background-color: #81C784; /* Farbton 2 */
}

.answer-field:nth-child(3) {
    background-color: #64B5F6; /* Farbton 3 */
}

.answer-field:nth-child(4) {
    background-color: #FFD54F; /* Farbton 4 */
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

.center{
    max-width: 300px; 
    height: 400px;
    width: 100%; 
    background-color: #cbcbcb;
    padding: 20px; 
    border-radius: 8px;
}

.quiz-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; /* Abstand zwischen den Elementen */
    background-color: #333;
}